*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
.idea/
.idea_modules/
build/*.jar
.settings
.cache
.cache_data
.DS_Store
release.properties
*.log
data/results*
data/dst_*.txt
_site
data/MagicGamma.csv
data/Adult.csv
data/ForestCover.csv
data/*Res.csv
Gemfile.lock
index*.html
javascripts
stylesheets
data/.RData
data/.Rhistory
rnn-omni-explorer/rsconnect
logs
!project/project/plugins.sbt
project/project
project/target
target
tmp
dist
data/*.png
data/mogp_*.csv
data/*storm*.csv
!data/geomagnetic_storms.csv
!data/geomagnetic_storms2.csv
!data/geomagnetic_storms3.csv
data/osa_training.csv
data/osa_validation.csv
data/all_results.txt
.ensime_cache
.ensime
*result*.csv
.vscode
.metals
.bloop
project/.bloop